version: "3"
# this file uses prebuilt image in dockerhub
services:
  jekyll:
    image: amirpourmand/al-folio
    ports:
      - "8080:8080"
      - "35729:35729"
      - "4000:4000"
    volumes:
      - .:/srv/jekyll
